<footer class="fundpress-footer-version-2">
  <div class="fundpress-footer-top-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="fundpress-single-footer-v2-content wow fadeInUp" data-wow-duration="1s">
            <div class="xs-footer-logo xs-mb-40">
              <a href="/">
                <img src="<%= global.folderName %>/assets/images/logo-ciecode-alt.png" alt="">
              </a>
            </div>
            <div class="fundpress-footer-content xs-mb-30">
              <p class="color-white xs-mb-0"><%= global.about %></p>
            </div><!-- . END -->
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.2s">
            <div class="xs-footer-title">
              <h4 class="color-white">Explore</h4>
            </div><!-- .xs-footer-title END -->
            <nav class="xs-footer-menu xs-footer-menu-v2">
              <ul>
                <li><a href="index.html">What We Do</a></li>
                <li><a href="#">Funding</a></li>
                <li><a href="#">Marketplace</a></li>
                <li><a href="#">Investing</a></li>
                <li><a href="#">Generosity</a></li>
                <li><a href="#">Technology</a></li>
                <li><a href="#">Art and Design</a></li>
              </ul>
            </nav><!-- .xs-footer-menu .xs-block-menu END -->
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.4s">
            <div class="xs-footer-title">
              <h4 class="color-white">Company</h4>
            </div><!-- .xs-footer-title END -->
            <nav class="xs-footer-menu xs-footer-menu-v2">
              <ul>
                <li><a href="">Startup Idea</a></li>
                <li><a href="about.html">About us</a></li>
                <li><a href="#">What Is This</a></li>
                <li><a href="#">Jobs</a></li>
                <li><a href="#">Career</a></li>
                <li><a href="#">Press</a></li>
                <li><a href="#">News Feeds</a></li>
              </ul>
            </nav><!-- .xs-footer-menu .xs-block-menu END -->
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.6s">
            <div class="xs-footer-title">
              <h4 class="color-white">Contact</h4>
            </div><!-- .xs-footer-title END -->
            <ul class="xs-list-item-icon-text-v2">
              <li>
                <i class="icon icon-paper-plane"></i>
                <div class="xs-contact-contet">
                  <%= global.address1 %><br/>
                  <%= global.address2 %><br/>
                  <%= global.zipcode %>, <%= global.city %>
                </div>
              </li>
              <li>
                <i class="icon icon-phone-call"></i>
                <div class="xs-contact-contet">
                  <a href="tel:<%= global.phone %>"><%= global.phone %></a>
                </div>
              </li>
              <li>
                <i class="icon icon-email"></i>
                <div class="xs-contact-contet">
                  <a href="mailto:<%= global.email %>" class="d-block"><%= global.email %></a>
                </div>
              </li>
              <li>
                <i class="icon icon-internet"></i>
                <div class="xs-contact-contet">
                  <a href="<%= global.web %>"><%= global.web %></a>
                </div>
              </li>
            </ul>
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
      </div>
    </div>
  </div><!-- .xs-footer-wraper .fundpress-footer-top-layer END -->
  <div class="fundpress-footer-bottom-v2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="fundpress-copyright-text-v2 wow fadeInUp" data-wow-duration="1.8s">
            <p>Built with <i class="fa fa-heart"></i> by <a href="https://xpeedstudio.com/">XpeedStudio</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="xs-footer-bottom-wraper text-right wow fadeInUp" data-wow-duration="2s">
            <ul class="xs-social-list xs-social-list-v7">
              <li class="xs-text-content">Follow us</li>
              <li><a href="https://www.ciecode.es"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .xs-footer-bottom-layer .fundpress-footer-bottom END -->
</footer>
</footer>
