<footer class="fundpress-footer-version-2">
  <div class="fundpress-footer-top-layer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="fundpress-single-footer-v2-content wow fadeInUp" data-wow-duration="1s">
            <div class="xs-footer-logo xs-mb-40">
              <a href="<%= global.folderName %>">
                <img src="<%= global.folderName %>assets/images/logo-ciecode-alt.png" alt="Logo de CIECODE">
              </a>
            </div>
            <!-- <div class="fundpress&#45;footer&#45;content xs&#45;mb&#45;30"> -->
            <!--   <p class="color&#45;white xs&#45;mb&#45;0"><%= global.about %></p> -->
            <!-- </div><!&#45;&#45; . END &#45;&#45;> -->
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.2s">
            <div class="xs-footer-title">
              <h4 class="color-white">Nosotras</h4>
            </div><!-- .xs-footer-title END -->
            <nav class="xs-footer-menu xs-footer-menu-v2">
              <ul>
                <li><a href="<%= global.folderName %>quienes-somos">Quiénes somos</a></li>
                <li><a href="<%= global.folderName %>political-watch">Political Watch</a></li>
                <li><a href="<%= global.folderName %>investigacion">Investigación</a></li>
                <li><a href="<%= global.folderName %>creditos">Créditos</a></li>
              </ul>
            </nav><!-- .xs-footer-menu .xs-block-menu END -->
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
        <div class="col-md-6 col-lg-2">
          <div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.4s">
            <div class="xs-footer-title">
              <h4 class="color-white">Destacado</h4>
            </div><!-- .xs-footer-title END -->
            <nav class="xs-footer-menu xs-footer-menu-v2">
              <ul>
                <li><a href="<%= global.folderName %>political-watch/parlamento2030">Parlamento 2030</a></li>
                <li><a href="<%= global.folderName %>political-watch/tipi-ciudadano">Tipi Ciudadano</a></li>
                <li><a href="<%= global.folderName %>investigacion/analisis-de-acuerdos-internacionales-de-inversion">Acuerdos de inversión</a></li>
              </ul>
            </nav><!-- .xs-footer-menu .xs-block-menu END -->
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="fundpress-single-footer-v2 wow fadeInUp" data-wow-duration="1.6s">
            <div class="xs-footer-title">
              <h4 class="color-white">Contacto</h4>
            </div><!-- .xs-footer-title END -->
            <ul class="xs-list-item-icon-text-v2">
              <li>
                <i class="icon icon-paper-plane"></i>
                <div class="xs-contact-contet">
                  <%= global.address1 %><br/>
                  <%= global.address2 %><br/>
                  <%= global.zipcode %>, <%= global.city %>
                </div>
              </li>
              <li>
                <i class="icon icon-phone-call"></i>
                <div class="xs-contact-contet">
                  <a href="tel:<%= global.phone %>"><%= global.phone %></a>
                </div>
              </li>
              <li>
                <i class="icon icon-email"></i>
                <div class="xs-contact-contet">
                  <a href="mailto:<%= global.email %>" class="d-block"><%= global.email %></a>
                </div>
              </li>
              <!-- <li> -->
              <!--   <i class="icon icon&#45;internet"></i> -->
              <!--   <div class="xs&#45;contact&#45;contet"> -->
              <!--     <a href="<%= global.web %>"><%= global.web %></a> -->
              <!--   </div> -->
              <!-- </li> -->
            </ul>
          </div><!-- .fundpress-single-footer-v2 END -->
        </div>
      </div>
    </div>
  </div><!-- .xs-footer-wraper .fundpress-footer-top-layer END -->
  <div class="fundpress-footer-bottom-v2">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="fundpress-copyright-text-v2 wow fadeInUp" data-wow-duration="1.8s">
            <p>CIECODE es el think tank de la <a href="https://unmundosalvadorsoler.org" target+"_blank">Fundación Salvador Soler</a></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="xs-footer-bottom-wraper text-right wow fadeInUp" data-wow-duration="2s">
            <ul class="xs-social-list xs-social-list-v7">
              <li class="xs-text-content">Síguenos en</li>
              <li><a href="https://www.twitter.com/ciecode" target="_blank"><i class="fa fa-2x fa-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/CIECODEMadrid" target="_blank"><i class="fa fa-2x fa-facebook"></i></a></li>
              <li><a href="https://github.com/politicalwatch" target="_blank"><i class="fa fa-2x fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!-- .xs-footer-bottom-layer .fundpress-footer-bottom END -->
</footer>
</footer>
