<!-- header version inner menu -->
<div id="fss-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p>
          <a href="https://unmundosalvadorsoler.org/" target="_blank">
            <!-- <img src="<%= global.folderName %>assets/images/LOGO_FUND.svg" alt="Logo de la Fundación Salvador Soler" /> -->
            <span class="hidden-lg">Fundación Salvador Soler</span>
            <span class="hidden-xs">CIECODE es el Think Tank de la Fundación Salvador Soler</span>
            <span>&nbsp;<i class="fa fa-long-arrow-right hide"></i></span>
          </a>
          <a class="pull-right" href="<%= global.folderName %>about-us">
            <img src="https://upload.wikimedia.org/wikipedia/en/a/ae/Flag_of_the_United_Kingdom.svg" alt="Bandera de Reino Unido" height="25px" width="auto">
            Know about us
          </a>
          <!-- <span id="language&#45;selector">ES&#38;nbsp;<i class="fa fa&#45;chevron&#45;down"></i></span> -->
        </p>
      </div>
    </div>
  </div>
</div>
<header class="xs-header-section xs-header-height fundpress-header-main-version">
  <div class="container">
    <nav class="xs-menus fundpress-menu fundpress-menu-v2">
      <div class="nav-header">
        <div class="nav-toggle"></div>
        <a class="nav-brand nav-logo" href="<%= global.folderName %>">
          <img src="<%= global.folderName %>assets/images/logo-ciecode-alt.png" alt="Logo de CIECODE">
        </a>
      </div><!-- . END -->
      <div class="nav-menus-wrapper">
        <div class="xs-logo-wraper">
          <a class="nav-brand xs-logo fundpress-logo-v2" href="<%= global.folderName %>">
            <img src="<%= global.folderName %>assets/images/logo-ciecode-alt.png" alt="" style="max-width:75%;">
          </a>
        </div>
        <ul class="nav-menu">
          <li><a href="<%= global.folderName %>quienes-somos">Quiénes somos</a></li>
          <li><a href="<%= global.folderName %>political-watch">Political Watch</a></li>
          <li><a href="<%= global.folderName %>investigacion">Investigación</a></li>
          <li><a href="https://medium.com/ciecode" target="_blank">Blog</a></li>
        </ul>
        <div class="xs-navs-button">
          <ul class="xs-icon-with-text fundpress-icon-menu">
            <li class="d-block d-xl-block"><a href="" data-toggle="modal" data-target=".bd-example-modal-lg" class="xs-btn green-btn">Haz una donación</a></li>
          </ul>
        </div>
      </div><!-- .nav-menus-wrapper END -->
    </nav><!-- .xs-menus .fundpress-menu END -->
  </div>
</header>
<!-- header version inner menu closed -->

<% include preloader %>

<% include donate-modal %>
