<!-- get_header('Page Name','Title')-->
<!doctype html>
<html class="no-js" lang="es">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= meta.title %> | <%= global.sitename %></title>
  <meta name="description" content="<%= meta.description %>">
  <meta name="keywords" content="<%= meta.keywords %>">
  <meta name="author" content="PR3SSH">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>FundPress - Home One</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CPoppins:200,400,500,600,700%7CPlayfair+Display:400,700i" rel="stylesheet">
  <link rel="icon" type="image/png" href="favicon.ico">
  <!-- Place favicon.ico in the root directory -->
  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <!-- Icon foont list -->
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/iconfont.css">
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/font-awesome.min.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/bootstrap.min.css">
  <!-- isotope -->
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/isotope.css">

  <!--For Plugins external css-->
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/plugins.css" />

  <!-- magnific -->
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/magnific-popup.css">

  <!--Theme custom css -->
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/style.css">

  <!--Theme Responsive css-->
  <link rel="stylesheet" href="<%= global.folderName %>/assets/css/responsive.css" />

  <script src="<%= global.folderName %>/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  <body>

