<!-- get_header('Page Name','Title')-->
<!doctype html>
<html class="no-js" lang="es">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title><%= global.sitename %> | <%= meta.title %></title>
  <meta name="description" content="<%= meta.description %>">
  <meta name="keywords" content="<%= meta.keywords %>">
  <meta name="author" content="<%= global.sitename %>">
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="<%= global.sitename %> | <%= meta.title %>">
  <meta itemprop="description" content="<%= meta.description %>">
  <meta itemprop="image" content="http://ciecode.es<%= global.folderName %>assets/images/ciecode-share.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@ciecode">
  <meta name="twitter:title" content="<%= global.sitename %> | <%= meta.title %>">
  <meta name="twitter:description" content="<%= global.sitename %> | <%= meta.description %>">
  <meta name="twitter:creator" content="@ciecode">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="http://ciecode.es<%= global.folderName %>assets/images/ciecode-share.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="<%= global.sitename %> | <%= meta.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://www.ciecode.es/" />
  <meta property="og:image" content="http://ciecode.es<%= global.folderName %>assets/images/ciecode-share.jpg" />
  <meta property="og:description" content="<%= meta.description %>" />
  <meta property="og:site_name" content="<%= global.sitename %>" />


  <!-- Add ico images -->
  <link rel="apple-touch-icon" sizes="57x57" href="<%= global.folderName %>assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= global.folderName %>assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= global.folderName %>assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= global.folderName %>assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= global.folderName %>assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="<%= global.folderName %>assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="<%= global.folderName %>assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="<%= global.folderName %>assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= global.folderName %>assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="<%= global.folderName %>assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= global.folderName %>assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="<%= global.folderName %>assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= global.folderName %>assets/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="<%= global.folderName %>assets/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <link rel="manifest" href="<%= global.folderName %>assets/manifest.json">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CPoppins:200,400,500,600,700%7CPlayfair+Display:400,700i" rel="stylesheet">

  <!-- Icon foont list -->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/iconfont.css">
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/font-awesome.min.css">

  <!-- bootstrap -->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/bootstrap.min.css">
  <!-- isotope -->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/isotope.css">

  <!--For Plugins external css-->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/plugins.css" />

  <!-- magnific -->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/magnific-popup.css">

  <!--Theme custom css -->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/style.css">

  <!--Theme Responsive css-->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/responsive.css" />

  <script src="<%= global.folderName %>assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

  <!-- Ekko Lightbox -->
  <link rel="stylesheet" href="<%= global.folderName %>assets/css/ekko-lightbox.css" />

  <body>

