<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>assets/images/background/alex-radelich-462768-unsplash.jpg">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Quiénes somos</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <strong>Quiénes somos</strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main class="xs-all-content-wrapper">

<!-- about us promo -->
<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="fundpress-inner-about-content">
          <p style="font-size: 1.5em;" class="bold">"No apostar de manera decidida por la equidad y el desarrollo sostenible ha dejado de ser una opción. Necesitamos una ciudadanía informada, activa y exigente y una clase política vigilada y responsable."</p>
          <p>-- Javier Pérez, director de CIECODE</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="fundpress-about-promo-image">
          <img src="<%= global.folderName %>assets/images/conferencia-director.jpg" alt="Foto del director de CIECODE, Javier Pérez">
        </div>
      </div>
    </div>
  </div>
</section>	<!-- about us promo end -->

<!-- about us video text -->
<section class="fundpress-video-popup-with-text">
  <div class="fundpress-video-top-section xs-navy-blue-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-12 col-lg-10 content-center">
          <div class="xs-heading-title fundpress-heading-title">
            <h2 class="color-white margin-bottom-0">"En el mundo actual, global e interdependiente, apostar por la equidad y el desarrollo sostenible no sólo es lo más justo, sino también lo más inteligente."</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about us video text -->
  <div class="funpress-video-popup xs-margin-top xs-margin-minus">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-12 col-lg-6 content-center">
          <div class="fundpress-popup-image xs-box-shadow">
            <img src="<%= global.folderName %>assets/images/ciecode-event.jpg" alt="Foto del evento de presentación de TIPI Ciudadano en septiembre de 2015">
          </div>
        </div>
      </div>
    </div>
  </div>	<!-- about us video text end -->
</section>	<!-- about us video text end -->

<!-- about us simple promo text -->
<div class="fundpress-simple-promo-text-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-lg-9 content-center">
        <div class="fundpress-title-text-content">
          <h4 class="color-green margin-bottom-0">Centro de Investigación y Estudios sobre Coherencia y Desarrollo</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-md-1 col-sm-12">
        <div class="xs-text-content fundpress-text-content">
          <p>CIECODE es el think tank de la Fundación Salvador Soler. Tenemos nuestra sede en Madrid, España. Nuestra misión es generar, en los países en los que trabajamos, unas condiciones favorables para el diseño, adopción e implementación de políticas públicas y prácticas privadas que promuevan una sociedad más justa, equitativa y sostenible.</p>
          <p>
          Entendemos que dichas condiciones favorables requieren de los siguientes componentes básicos:
          <ul class="xs-list-item-icon-text xs-side-by-side-list-1-col">
            <li><i class="fa fa-check color-green"></i> Una ciudadanía activa, consciente, informada y exigente.</li>
            <li><i class="fa fa-check color-green"></i> Una clase política y un sector público responsables, informados y vigilados.</li>
            <li><i class="fa fa-check color-green"></i> Un sector privado responsable, informado y vigilado.</li>
            <li><i class="fa fa-check color-green"></i> Unos medios de comunicación sensibilizados e informados.</li>
          </ul>
          </p>
          <p>
          Promovemos dichas condiciones favorables apoyando:
          <ul class="xs-list-item-icon-text xs-side-by-side-list1-col">
            <li><i class="fa fa-check color-green"></i> el desarrollo de herramientas digitales y tecnologías cívicas que faciliten el acceso a la información, la vigilancia ciudadana y la rendición de cuentas; y</li>
            <li><i class="fa fa-check color-green"></i> la creación de contenidos y espacios (físicos y virtuales) que estimulen un debate público informado sobre cómo dar respuesta desde las políticas públicas y las prácticas privadas a los retos del desarrollo sostenible, la desigualdad y la calidad democrática.</li>
          </ul>
          </p>
          <p>
          Nuestras actuaciones se enmarcan en tres líneas de trabajo principales:
          <ul class="xs-list-item-icon-text xs-side-by-side-list-1-col">
            <li><i class="fa fa-check color-green"></i> Formación y sensibilización: centradas en la realización de acciones de formación y desarrollo de capacidades a actores públicos y de la sociedad civil en temáticas relacionadas con el monitoreo cívico, la incidencia pública y la coherencia de políticas para el desarrollo.</li>
            <li><i class="fa fa-check color-green"></i> Monitoreo y acceso a la información: centradas en el desarrollo y la construcción de tecnologías innovadoras de seguimiento y control de la actividad política para ofrecer a la ciudadanía un acceso público y gratuito a esta información. Esto se lleva a cabo dentro de una línea de trabajo denominada Political Watch.</li>
            <li><i class="fa fa-check color-green"></i> Investigación para el cambio social: centradas en el análisis del impacto de las políticas públicas sobre el desarrollo sostenible y la proposición de soluciones innovadoras.</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>	<!-- about us simple promo text end -->


<section class="xs-side-by-side-product-v2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-6 xs-padding-0">
        <div class="fundpress-full-width-wraper-v2 small" style="background-image: url(<%= global.folderName %>assets/images/background/patrick-perkins-ETRPjvb0KM0-unsplash.jpg)">
          <div class="fundpress-product-hover-content-v2">
            <div class="fundpress-sub-title">
              <h2>Plan estratégico</h2>
            </div>
            <div class="fundpress-product-text-content">
              <p>Conoce más sobre nuestra visión, misión y nuestros objetivos estratégicos</p>
            </div>
            <div class="xs-btn-wrapre">
              <a href="<%= global.folderName %>assets/documents/pw-plan-estrategico.pdf" class="xs-btn btn xs-box-shadow btn-primary btn-lg">Descárgalo</a>
            </div>
          </div><!-- .fundpress-product-hover-content-v2 END -->
          <div class="xs-solid-overlay xs-bg-navy-blue-light"></div>
        </div><!-- .fundpress-full-width-wraper-v2 END -->
      </div>
      <div class="col-md-12 col-lg-6 xs-padding-0">
        <div class="fundpress-full-width-wraper-v2 small" style="background-image: url(<%= global.folderName %>assets/images/background/stellrweb-djb1whucfBY-unsplash.jpg)">
          <div class="fundpress-product-hover-content-v2">
            <div class="fundpress-sub-title">
              <h2>Transparencia</h2>
            </div>
            <div class="fundpress-product-text-content">
              <p>Conoce en detalle nuestro trabajo, te mostramos nuestras cuentas</p>
            </div>
            <div class="xs-btn-wrapre">
              <a href="<%= global.folderName %>transparencia" class="xs-btn xs-box-shadow btn btn-primary btn-lg">Accede</a>
            </div>
          </div><!-- .fundpress-product-hover-content-v2 END -->
          <div class="xs-solid-overlay xs-bg-navy-blue-light"></div>
        </div><!-- .fundpress-full-width-wraper-v2 END -->
      </div>
    </div>
  </div>
</section>

<% if (data.team.length > 0) { %>
<!-- team section -->
<section class="xs-gray-bg xs-team-section fundpress-team-section xs-section-padding">
  <div class="container">
    <div class="xs-section-heading row xs-margin-0">
      <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
        <h2 class="color-navy-blue">Conoce a nuestro equipo</h2>
        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
      </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
    </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
    <div class="row">
      <% for (var teamindex=0; teamindex<data.team.length; teamindex++) { %>
      <div class="col-md-3 people-item">
        <div class="xs-box-shadow  fundpress-single-team-member">
          <div class="fundpress-item-header text-center">
            <a href="<%= global.folderName %>quienes-somos/<%= data.team[teamindex].id %>" class="color-navy-blue" title="Accede al perfil de <%= data.team[teamindex].name %>">
            <img class="team-member-photo-alt hide" src="<%= global.folderName %>assets/images/team/<%= data.team[teamindex].photoalt %>">
            <img class="team-member-photo" src="<%= global.folderName %>assets/images/team/<%= data.team[teamindex].photo %>" alt="Foto de <%= data.team[teamindex].name %>">
            </a>
            <!-- <div class="xs&#45;hover&#45;content fundpress&#45;hover&#45;content text&#45;center"> -->
            <!--   <ul class="xs&#45;social&#45;list fundpress&#45;social&#45;list xs&#45;social&#45;list&#45;v2"> -->
            <!--     <% if (data.team[teamindex].email != "") { %> -->
            <!--     <li><a href="mailto:<%= data.team[teamindex].email %>" class="color&#45;linkedin full&#45;round" target="_blank"><i class="fa fa&#45;envelope"></i></a></li> -->
            <!--     <% } %> -->
            <!--     <% if (data.team[teamindex].twitter != "") { %> -->
            <!--     <li><a href="<%= data.team[teamindex].twitter %>" class="color&#45;twitter full&#45;round" target="_blank"><i class="fa fa&#45;twitter"></i></a></li> -->
            <!--     <% } %> -->
            <!--     <% if (data.team[teamindex].linkedin != "") { %> -->
            <!--     <li><a href="<%= data.team[teamindex].linkedin %>" class="color&#45;linkedin full&#45;round" target="_blank"><i class="fa fa&#45;linkedin"></i></a></li> -->
            <!--     <% } %> -->
            <!--     <% if (data.team[teamindex].github != "") { %> -->
            <!--     <li><a href="<%= data.team[teamindex].github %>" class="color&#45;linkedin full&#45;round" target="_blank"><i class="fa fa&#45;github"></i></a></li> -->
            <!--     <% } %> -->
            <!--   </ul> -->
            <!-- </div> -->
          </div>
          <!--fundpress-item-header-->
          <div class="xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-center">
            <a href="<%= global.folderName %>quienes-somos/<%= data.team[teamindex].id %>" class="color-navy-blue" title="Accede al perfil de <%= data.team[teamindex].name %>">
              <%= data.team[teamindex].name %>
            </a>
            <h5 class="color-green"><%= data.team[teamindex].title %></h5>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>	<!-- team section end -->
<% } %>

<!-- square service -->
<section  class="xs-square-service-section xs-navy-blue-bg fundpress-square-service-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left">
      <h2 class="color-white">Algunos de nuestros hitos</h2>
    </div><!-- .xs-heading-title .fundpress-heading-title-v2 .fundpress-heading-title END -->
    <div class="row">
      <% for (var highlightindex=0; highlightindex<data.highlights.length; highlightindex++) { %>
        <div class="col-md-6 col-sm-12 col-lg-3 highlight">
          <div class="fundpress-icon-with-square-service">
            <i class="fa fa-<%= data.highlights[highlightindex].icon %> fa-4x"></i>
            <br/>
            <h6 class="color-green"><%= data.highlights[highlightindex].date %></h6>
            <h6 class="color-white"><%= data.highlights[highlightindex].title %></h6>
            <p></p>
          </div><!-- .fundpress-icon-with-square-service END -->
        </div>
      <% } %>
    </div>
  </div>
</section>	<!-- End square service -->

<!-- contact details section -->
<section class="xs-content-section-padding fundpress-contact-details-section xs-contact-details-section">
  <div class="container">
    <div class="fundpress-heading-title xs-mb-60">
      <h2 class="color-navy-blue xs-mb-0">Dónde estamos</h2>
      <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
    </div><!-- .xs-heading-title .fundpress-heading-title END -->

    <div class="row">
      <div class="col-md-4">
        <div class="fundpress-contact-details">
          <div class="xs-box-shadow xs-mb-40 fundpress-widnow-wraper">
            <div class="fundpress-window-back">
              <img src="<%= global.folderName %>assets/images/daniel-alvarez-sanchez-diaz-474861-unsplash.jpg" alt="Foto de Madrid">
            </div>
          </div>
          <h5>Madrid</h5>
          <ul class="xs-list-item-icon-text">
            <li><i class="fa fa-phone color-green"></i><%= global.phone %></li>
            <li><i class="fa fa-envelope-o color-green"></i><%= global.email %></li>
            <li><i class="fa fa-map-marker color-green"></i>
              <%= global.address1 %>
              <%= global.address2 %>
            </li>
          </ul>
        </div>
        <!-- fundpress-contact-details -->
      </div>
      <div class="col-md-4">
        <div class="fundpress-contact-details">
          <div class="xs-box-shadow xs-mb-40 fundpress-widnow-wraper">
            <div class="fundpress-window-back">
              <img src="<%= global.folderName %>assets/images/silvia-orduna-huelva.jpg" alt="Foto de Huelva">
            </div>
          </div>
          <h5>Huelva</h5>
          <ul class="xs-list-item-icon-text">
            <li><i class="fa fa-envelope-o color-green"></i><%= global.emailhuelva %></li>
          </ul>
        </div>
        <!-- fundpress-contact-details -->
      </div>
    </div>
  </div>
</section>	<!-- End contact details section -->


<!-- square service -->
<section  class="xs-square-service-section-alt fundpress-square-service-section xs-section-padding-bottom">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left">
      <h2 class="color-navy-blue xs-mb-0">Alianzas estratégicas</h2>
      <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
    </div><!-- .xs-heading-title .fundpress-heading-title-v2 .fundpress-heading-title END -->
    <div class="row">
      <% for (var partnerindex=0; partnerindex<data.partners.length; partnerindex++) { %>
        <div class="col-md-6 col-sm-12 col-lg-3 partner-item">
          <div class="fundpress-icon-with-square-service">
            <a href="<%= data.partners[partnerindex].url %>" target="_blank">
              <img src="<%= global.folderName %>assets/images/partners/<%= data.partners[partnerindex].logo %>" alt="Logo de <%= data.partners[partnerindex].name %>">
              <p><%= data.partners[partnerindex].name %></p>
            </a>
          </div><!-- .fundpress-icon-with-square-service END -->
        </div>
      <% } %>
    </div>
  </div>
</section>	<!-- End square service -->

</main>

<% include common/footer %>

<% include common/end %>
