<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>/assets/images/background/alex-radelich-462768-unsplash.jpg">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Quiénes somos</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <strong>Quiénes somos</strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main class="xs-all-content-wrapper">

<!-- about us promo -->
<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-6">
        <div class="fundpress-inner-about-content">
          <p style="font-size: 1.5em;" class="bold">"No apostar de manera decidida por la equidad y el desarrollo sostenible ha dejado de ser una opción. Necesitamos una ciudadanía informada, activa y exigente y una clase política vigilada y responsable."</p>
          <p>-- Javier Pérez, director de CIECODE</p>
        </div>
      </div>
      <div class="col-md-12 col-lg-6">
        <div class="fundpress-about-promo-image xs-box-shadow">
          <img src="<%= global.folderName %>/assets/images/conferencia-director.jpg" alt="">
        </div>
        <!-- 
          fundpress-about-promo-image 
          xs-box-shadow
        -->
      </div>
    </div>
  </div>
</section>	<!-- about us promo end -->

<!-- about us video text -->
<section class="fundpress-video-popup-with-text">
  <div class="fundpress-video-top-section xs-navy-blue-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-12 col-lg-10 content-center">
          <div class="xs-heading-title fundpress-heading-title">
            <h2 class="color-white margin-bottom-0">"En el mundo actual, global e interdependiente, apostar por la equidad y el desarrollo sostenible no sólo es lo más justo, sino también lo más inteligente."</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about us video text -->
  <div class="funpress-video-popup xs-margin-top xs-margin-minus">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-sm-12 col-lg-6 content-center">
          <div class="fundpress-popup-image xs-box-shadow">
            <img src="<%= global.folderName %>/assets/images/ciecode-event.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>	<!-- about us video text end -->
</section>	<!-- about us video text end -->

<!-- about us simple promo text -->
<div class="fundpress-simple-promo-text-content">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-lg-9 content-center">
        <div class="fundpress-title-text-content">
          <h4 class="color-green margin-bottom-0">Centro de Investigación y Estudios sobre Coherencia y Desarrollo</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-6">
        <div class="xs-text-content fundpress-text-content">
          <p>CIECODE es el think tank de la Fundación Salvador Soler. Nacimos en 2011 con el objetivo de dinamizar en España el debate público acerca de las políticas necesarias para luchar contra la pobreza y promover el desarrollo sostenible.</p>
          <p>Llevamos a cabo proyectos innovadores de monitorización política y acceso a información. También realizamos investigaciones con los que analizamos políticas públicas, informamos acerca de sus efectos en los países en desarrollo y proponemos las reformas necesarias para avanzar hacia una sociedad más igualitaria y justa. Entendemos que <strong>acabar con la pobreza es una decisión política</strong> y que el derecho al desarrollo es la medida del respeto de todos los derechos humanos y, como tal, debe ser defendido y promovido.</p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-6">
        <div class="xs-text-content fundpress-text-content">
          <p>Consideramos la lucha contra la pobreza como un conjunto de ámbitos, sociales y políticos, de entre los cuales la Cooperación al Desarrollo es sólo uno más, por lo que exigimos la incorporación del enfoque de desarrollo sostenible en todas las políticas públicas.</p>
          <p>Sabemos que todos saldríamos ganando con un mundo con menos pobreza, más igualitario y sostenible, que no será posible sin una ciudadanía dispuesta a exigir comportamientos éticos a los dirigentes políticos y a las empresas y a pedirles responsabilidades cuando no sea así.</p>
          <p>En torno a estos pilares gira toda la actividad de CIECODE, que desarrollamos a través de dos líneas de trabajo: Political Watch, la plataforma de proyectos de innovación tecnológica para la ciudadanía, y la investigación para el cambio social, con la coherencia de políticas para el desarrollo sostenible como eje principal.</p>
        </div>
      </div>
    </div>
  </div>
</div>	<!-- about us simple promo text end -->

<!-- square service -->
<section  class="xs-square-service-section xs-navy-blue-bg fundpress-square-service-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left">
      <h2 class="color-white">Our highlights</h2>
    </div><!-- .xs-heading-title .fundpress-heading-title-v2 .fundpress-heading-title END -->
    <div class="row">
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <!-- <img src="<%= global.folderName %>/assets/images/icon&#45;1.png" alt=""> -->
          <h6 class="color-green">Abril 2011</h6>
          <h6 class="color-white">Creación de CIECODE</h6>
          <p></p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <h6 class="color-green">Enero 2012</h6>
          <h6 class="color-white">Publicación del Libro Blanco de la Política Española de Desarrollo</h6>
          <p></p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <h6 class="color-green">Febrero 2013</h6>
          <h6 class="color-white">Primera edición de Premios Avizor</h6>
          <p></p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <h6 class="color-green">2011</h6>
          <h6 class="color-white">Free & Simple Setup.</h6>
          <p></p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
    </div>
  </div>
</section>	<!-- End square service -->

<% if (data.team.length > 0) { %>
<!-- team section -->
<section class="xs-gray-bg xs-team-section fundpress-team-section xs-section-padding">
  <div class="container">
    <div class="xs-section-heading row xs-margin-0">
      <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
        <h2 class="color-navy-blue">Meet with our team</h2>
        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
        <p>No matter how many times your amazing, absolutely brilliant</p>
      </div><!-- .xs-heading-title .fundpress-heading-title .xs-col-9 END -->
    </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->
    <div class="row">
      <% for (var teamindex=0; teamindex<data.team.length; teamindex++) { %>
      <div class="col-md-3">
        <div class="xs-box-shadow  fundpress-single-team-member">
          <div class="fundpress-item-header ">
            <img src="<%= global.folderName %>/assets/images/team/<%= data.team[teamindex].photo %>" alt="">
            <div class="xs-hover-content fundpress-hover-content text-center">
              <ul class="xs-social-list fundpress-social-list xs-social-list-v2">
                <% if (data.team[teamindex].twitter != "") { %>
                <li><a href="<%= data.team[teamindex].twitter %>" class="color-twitter full-round" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <% } %>
                <% if (data.team[teamindex].linkedin != "") { %>
                <li><a href="<%= data.team[teamindex].linkedin %>" class="color-linkedin full-round" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                <% } %>
                <% if (data.team[teamindex].github != "") { %>
                <li><a href="<%= data.team[teamindex].github %>" class="color-linkedin full-round" target="_blank"><i class="fa fa-github"></i></a></li>
                <% } %>
              </ul>
            </div>
          </div>
          <!--fundpress-item-header-->
          <div class="xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-center">
            <a href="#" class="color-navy-blue">
              <%= data.team[teamindex].name %>
            </a>
            <h5 class="color-green"><%= data.team[teamindex].title %></h5>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>	<!-- team section end -->
<% } %>

<!-- contact details section -->
<section class="xs-content-section-padding fundpress-contact-details-section xs-contact-details-section">
  <div class="container">
    <div class="fundpress-heading-title xs-mb-60">
      <h2 class="color-navy-blue xs-mb-0">Dónde estamos</h2>
    </div><!-- .xs-heading-title .fundpress-heading-title END -->

    <div class="row">
      <div class="col-md-6">
        <div class="fundpress-contact-details">
          <div class="xs-box-shadow xs-mb-40 fundpress-widnow-wraper">
            <div class="fundpress-window-back">
              <img src="<%= global.folderName %>/assets/images/contact/contact-info-img-1.png" alt="">
            </div>
          </div>
          <!-- xs-box-shadow xs-mb-40 fundpress-widnow-wraper -->
          <ul class="xs-list-item-icon-text">
            <li><i class="fa fa-phone color-green"></i>+88 00 11 22 33</li>
            <li><i class="fa fa-envelope-o color-green"></i>name@yourdomain.com</li>
            <li><i class="fa fa-map-marker color-green"></i>Welington City, Beside Pull, Australia</li>
          </ul>
        </div>
        <!-- fundpress-contact-details -->
      </div>
      <div class="col-md-6">
        <div class="fundpress-contact-details">
          <div class="xs-box-shadow xs-mb-40 fundpress-widnow-wraper">
            <div class="fundpress-window-back">
              <img src="<%= global.folderName %>/assets/images/contact/contact-info-img-2.png" alt="">
            </div>
          </div>
          <!-- xs-box-shadow xs-mb-40 fundpress-widnow-wraper -->
          <ul class="xs-list-item-icon-text">
            <li><i class="fa fa-phone color-green"></i>+09 56 43 768</li>
            <li><i class="fa fa-envelope-o color-green"></i>name@yourdomain.com</li>
            <li><i class="fa fa-map-marker color-green"></i>10/A, Hesting City, USA</li>
          </ul>
        </div>
        <!-- fundpress-contact-details -->
      </div>
    </div>
  </div>
</section>	<!-- End contact details section -->


<!-- square service -->
<section  class="xs-square-service-section-alt fundpress-square-service-section xs-section-padding-bottom">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left">
      <h2 class="color-navy-blue xs-mb-0">Alianzas estratégicas</h2>
    </div><!-- .xs-heading-title .fundpress-heading-title-v2 .fundpress-heading-title END -->
    <div class="row">
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <img src="<%= global.folderName %>/assets/images/icon-1.png" alt="">
          <a href="#" class="color-white">Free & Simple Setup. </a>
          <p>Start fundraising in minutes. No goal requirements, no deadlines.  </p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <img src="<%= global.folderName %>/assets/images/icon-2.png" alt="">
          <a href="#" class="color-white">Most Money Raised.</a>
          <p>Join the millions who have raised more than $2 billion on FundPress.</p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <img src="<%= global.folderName %>/assets/images/icon-3.png" alt="">
          <a href="#" class="color-white">Expert Advice, 24/7.</a>
          <p>Our campaign coaches will answer your questions in 5 minutes, day or night.</p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
      <div class="col-md-6 col-sm-12 col-lg-3">
        <div class="fundpress-icon-with-square-service">
          <img src="<%= global.folderName %>/assets/images/icon-4.png" alt="">
          <a href="#" class="color-white">Safety. Guaranteed.</a>
          <p>The GoFundMe Guarantee protects your donations and supporters. </p>
        </div><!-- .fundpress-icon-with-square-service END -->
      </div>
    </div>
  </div>
</section>	<!-- End square service -->

</main>

<% include common/footer %>

<% include common/end %>


