<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>assets/images/background/comision-covid-19.jpg">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white"><%= data.title %> <br/>Political Watch COVID-19</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <a href="<%= global.folderName %>political-watch" class="color-white">Political Watch /</a> <a href="<%= global.folderName %>political-watch/covid-19" class="color-white">COVID-19 /</a> <strong><%= data.title %></strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main id="covid-19" class="xs-all-content-wrapper">

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Political Watch COVID-19</h3>
          <p>Political Watch COVID-19 es un proyecto que facilita el acceso a toda la información generada en la Comisión para la Reconstrucción Social y Económica. Te ofrecemos a tiempo real los compromisos y propuestas que en ella se propongan y el análisis de sus principales consecuencias.</p>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  Un proyecto de: <br/> <br/> <div class="text-center"> <img src="<%= global.folderName %>assets/images/politicalwatch.png" alt="Logo de Political Watch" class="img-responsive" style="width:50%;"> </div>
                </div>
                <div class="col-sm-6">
                  En colaboración con: <br> <br> <div class="text-center"> <img src="<%= global.folderName %>assets/images/porCausa.png" alt="Logo de porCausa" class="img-responsive" style="width:50%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">

          <% if (data.analysis == "") { %>
            <a href="#" class="xs-btn btn btn-primary not-active" title="No disponible aun">Análisis</a>
          <% } else { %>
            <a href="<%= data.analysis %>" target="_blank" class="xs-btn btn btn-primary">Resumen de la sesión</a>
          <% } %>

          <br>
          <br>

          <% if (data.transcription == "") { %>
          <a href="#" class="xs-btn btn btn-primary not-active" title="No disponible aun">Transcripción completa *</a>
          <% } else { %>
            <a href="<%= data.transcription %>" target="_blank" class="xs-btn btn btn-primary">Transcripción completa *</a>
          <% } %>

          <br>
          <br>

          <% if (data.video == "") { %>
          <a href="#" class="not-active" title="No disponible aun"><i class="fa fa-play-circle-o"></i> Ver el vídeo</a>
          <% } else { %>
            <a href="<%= data.video %>" target="_blank" class="color-navy-blue bold"><i class="fa fa-play-circle-o"></i> Ver el vídeo</a>
          <% } %>

          <br>

          <a class="color-navy-blue bold" href="<%= global.folderName %>political-watch/covid-19" class="color-white"><i class="fa fa-th-list"></i> Consulta otra sesión</a>

          <br>
          <br>

          <small>* Esta transcripción es ofrecida a meros efectos informativos.<br/> La oficial estará disponible en <a href="http://www.congreso.es" target="_blank">Congreso.es</a>.</small>
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-square-service-section-alt xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p style="font-size: 1.5em;" class="bold">
          <i class="fa fa-quote-left"></i>&nbsp;&nbsp;&nbsp;
          <%= data.headline %>
          La Comisión para la Reconstrucción Social y Económica post-COVID nace con un llamamiento de su presidente, Patxi López, al espíritu constructivo y con la negativa de Vox a ceñirse a las reglas de transparencia previamente pactadas entre todos los partidos.
          &nbsp;&nbsp;&nbsp;<i class="fa fa-quote-right"></i>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">Resumen visual</h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="xs-info-card">

            <% if (data.vizz_primary == "") { %>
            <div class="xs-info-card">
              <div class="alert alert-warning" role="alert">Lo debatido hoy no da para más. Esperamos mostrarte más información en otras sesiones.</div>
            </div>
            <% } else { %>
            <img class="img-responsive" src="<%= global.folderName %>assets/images/covidwatch/<%= data.vizz_primary %>" alt="Resumen visual de la sesión">
            <% } %>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">Propuestas sociales y económicas</h2>
        <p>De todo el bla, bla, bla... esto es lo más destacable de la sesión.</p>
      </div>
      <div class="row">
        <div class="col-sm-12">

            <% if (data.parties.length == 0) { %>
            <div class="xs-info-card">
              <div class="alert alert-warning" role="alert">Lo debatido hoy no da para más. Esperamos mostrarte más información en otras sesiones.</div>
            </div>
            <% } else { %>
            <div class="xs-info-card parties">
              <% for (var i=0; i<data.parties.length; i++) { %>
                <div class="row">
                  <div class="col-md-1 col-sm-2">
                    <img src="<%= global.folderName %>assets/images/covidwatch/parties/<%= data.parties[i].name %>.png" alt="Logo de <%= data.parties[i].name %>" class="img-responsive">
                  </div>
                  <div class="col-md-11 col-sm-10">
                    <ul>
                      <% for (var j=0; j<data.parties[i].proposals.length; j++) { %>
                        <li><i class="fa fa-check-circle"></i> <%= data.parties[i].proposals[j] %></li>
                        <% } %>
                    </ul>
                  </div>
                </div>
                <% } %>
            </div>
            <% } %>
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">TIPI nos dice que...</h2>
        <p>Analizamos las temáticas más abordadas en la sesión gracias a TIPI Ciudadano.</p>
      </div>
      <div class="row">
        <div class="col-sm-12">

            <% if (data.vizzs_tipi.length == 0) { %>
            <div class="xs-info-card">
              <div class="alert alert-warning" role="alert">Lo debatido hoy no da para más. Esperamos mostrarte más información en otras sesiones.</div>
            </div>
            <% } else { %>
            <div class="row">
              <% for (var i=0; i<data.vizzs_tipi.length; i++) { %>
              <div class="col-sm-6">
                <div class="xs-info-card">
                  <img class="img-responsive" src="<%= global.folderName %>assets/images/covidwatch/<%= data.vizzs_tipi[i] %>" alt="Visualización de datos en base a TIPI Ciudadano">
                </div>
              </div>
              <% } %>
            </div>
            <% } %>

        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">Los ODS abordados</h2>
        <p>Analizamos el contenido de la sesión en clave Agenda 2030 de Desarrollo Sosteible.</p>
      </div>
      <div class="row">
        <div class="col-sm-12">

            <% if (data.vizzs_p2030.length == 0) { %>
            <div class="xs-info-card">
              <div class="alert alert-warning" role="alert">Lo debatido hoy no da para más. Esperamos mostrarte más información en otras sesiones.</div>
            </div>
            <% } else { %>
            <div class="row">
              <% for (var i=0; i<data.vizzs_p2030.length; i++) { %>
              <div class="col-sm-6">
                <div class="xs-info-card">
                  <img class="img-responsive" src="<%= global.folderName %>assets/images/covidwatch/<%= data.vizzs_p2030[i] %>" alt="Visualización de datos en base a Parlamento 2030">
                </div>
              </div>
              <% } %>
            </div>
            <% } %>

        </div>
      </div>
    </div>
  </section>

  <% include common/subscribe-to-newsletter %>

</main>


<% include common/footer %>

<% include common/end %>


