<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>assets/images/background/comision-covid-19.jpg">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Political Watch COVID-19</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <a href="<%= global.folderName %>political-watch" class="color-white">Political Watch /</a> <strong>COVID-19</strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main id="covid-19" class="xs-all-content-wrapper">

<section class="xs-bg fundpress-text-with-image-side-by-side-3 xs-content-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="xs-box-shadow-2 xs-background-popup-wraper">
          <img src="<%= global.folderName %>assets/images/background/edwin-hooper-Q8m8cLkryeo-unsplash.jpg" alt="Foto del COVID-19">
        </div>
      </div>
      <div class="col-md-6">
        <div class="fundpress-side-by-side-image-with-text fundpress-side-by-side-image-with-text-v2">
          <div class="xs-inner-title fundpress-inner-title">
          </div>
          <p class="xs-content-description fundpress-content-description xs-mb-20">La crisis sanitaria del COVID-19 ha provocado un profundo impacto social y económico a nivel global, de dimensiones aún desconocidas. Muchos países han comenzado a diseñar las medidas para hacer frente a las consecuencias de la pandemia y minimizar el impacto social y económico que se les viene encima. En España, se ha constituido una 'Comisión para la Reconstrucción Social y Económica' en el Congreso de los Diputados, donde el Gobierno y todos los partidos con representación parlamentaria están llamados a debatir y acordar las directrices políticas que orientarán la medidas de reconstrucción a implementar en los próximos años.</p>

          <h3 class="color-green xs-post-title fundpress-post-title xs-mb-20">Apostamos por la vigilancia ciudadana</h3>

          <p class="xs-content-description fundpress-content-description xs-mb-30">Political Watch COVID-19 es un proyecto que facilita el acceso a la información generada en la <b>Comisión para la Reconstrucción Social y Económica</b>. Te ofrecemos a tiempo real los compromisos y propuestas que en ella se propongan y el análisis de sus principales consecuencias.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="xs-about-us-promo-section fundpress-about-us-promo-section" style="padding-top: 20px !important;padding-bottom:40px !important;">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <div class="row">
          <div class="col-sm-6">
            Un proyecto de: <br/> <br/> <div class="text-center"> <img src="<%= global.folderName %>assets/images/politicalwatch.png" alt="Logo de Political Watch" class="img-responsive" style="width:50%;"> </div>
          </div>
          <div class="col-sm-6">
            En colaboración con: <br> <br> <div class="text-center"> <img src="<%= global.folderName %>assets/images/porCausa.png" alt="Logo de porCausa" class="img-responsive" style="width:50%;">
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left xs-mb-40" style="width: 65%;">
      <h2 class="color-navy-blue">Reconstrucción transparente</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <img src="<%= global.folderName %>assets/images/participa.png" alt="Ilustracción para definir la participación ciudadana">
      </div>
      <div class="col-sm-8">
        <p class="fundpress-content-description xs-mb-20">El Congreso de los Diputados ha habilitado, por primera vez en su historia, un canal de participación ciudadana a través de la creación de un buzón para recoger las sugerencias y propuestas que se quieran remitir a la <a class="color-green" href="http://www.congreso.es/portal/page/portal/Congreso/Congreso/Organos/Comision?_piref73_7498063_73_1339256_1339256.next_page=/wc/detalleInformComisiones?idOrgano=390&idLegislatura=14" target="_blank">Comisión no permanente para la Reconstrucción Social y Económica</a>, constituida para hacer frente a las consecuencias del coronavirus.</p>
        <p class="fundpress-content-description xs-mb-20"><b>Más de 40 organizaciones y personas expertas</b> acogemos positivamente esta iniciativa, como un paso positivo hacia una mayor apertura de la Cámara a la participación ciudadana. Sin embargo, <b>consideramos imprescindible que garanticen la publicidad oportuna y plena y el acceso a toda la información</b> generada en la citada Comisión, <b>incluida la información recogida a través de este nuevo canal de participación</b>.</p>
        <p class="fundpress-content-description xs-mb-20">La publicidad de la información generada fruto de la actividad parlamentaria debe ser un principio rector incuestionable, sujeto únicamente a las excepciones estrictamente necesarias previstas por la ley. </p>
        <p class="fundpress-content-description xs-mb-20">Un Congreso inclusivo, responsable, transparente, accesible y receptivo es clave en la construcción de una sociedad democrática madura y en el fortalecimiento de la confianza de la ciudadanía en las instituciones públicas, además de favorecer una ciudadanía activa, informada y crítica.</p>
        <p class="fundpress-content-description xs-mb-20">Las personas y colectivos firmantes de esta carta deseamos que este mecanismo participativo y su experiencia de implementación sirva como modelo para articular futuros espacios de apertura parlamentaria en toda la actuación parlamentaria.</p>
          <p class="fundpress-content-description xs-mb-20 text-center">
            <a class="xs-btn btn btn-primary" href="https://cutt.ly/dyZV2C2" target="_blank">Accede a la carta</a>
            &nbsp;
            &nbsp;
            &nbsp;
            <a class="xs-btn btn btn-primary" href="https://drive.google.com/file/d/12mGxFyRINpE3fnmy56GuYlV4FWY4538v/view" target="_blank">Respuesta de Patxi López</a>
            <br>
            <br>
            <a class="xs-btn btn btn-primary" href="https://datastudio.google.com/u/0/reporting/1EAxsZQY5BSQJn9K-jnplJbtfD9O8AERe" target="_blank"><i class="fa fa-bar-chart"></i> Resumen visual de propuestas</a>
          </p>
      </div>
    </div>
  </div>
</section>


<section id="sesiones" class="xs-square-service-section-alt fundpress-square-service-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left">
      <h2 class="color-navy-blue">Contenido de las sesiones</h2>
        <p>Toda la información de las sesiones plenarias más relevantes de la Comisión</p>
    </div>
    <div class="row">
      <% if (data.next_session_date != "") { %>
      <div class="col-lg-3 col-md-6 col-sm-12 highlight">
        <div class="fundpress-icon-with-square-service">
          <i class="fa fa-clock-o fa-4x color-green"></i>
          <br/>
          <h6 class="color-green"><%= data.next_session_date %></h6>
          <h6 class="color-navy-blue">
            En breve te ofreceremos toda la información
          </h6>
        </div>
      </div>
      <% } %>
      <% for (var index=0; index<data.sessions.length; index++) { %>
      <div class="col-lg-3 col-md-6 col-sm-12 highlight">
        <a href="<%= global.folderName %>political-watch/covid-19/<%= data.sessions[index].id %>" class="color-green bold">
          <div class="fundpress-icon-with-square-service">
            <i class="fa fa-calendar fa-4x"></i>
            <br/>
            <h6 class="color-green"><%= data.sessions[index].date %></h6>
            <h6 class="color-navy-blue">
              <%= data.sessions[index].title %>
            </h6>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</section>

<section id="grupos" class="xs-square-service-section xs-navy-blue-bg fundpress-square-service-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left color-white">
      <h2>Grupos de trabajo</h2>
      <p>Toda la información de cada uno de los grupos de trabajo de la Comisión</p>
    </div><!-- .xs-heading-title .fundpress-heading-title-v2 .fundpress-heading-title END -->
    <div class="row">
      <% for (var index=0; index<data.groups.length; index++) { %>
      <div class="col-lg-3 col-md-6 col-sm-12 highlight">
        <a href="<%= global.folderName %>political-watch/covid-19/<%= data.groups[index].id %>" class="color-white bold">
          <div class="fundpress-icon-with-square-service xs-navy-blue-bg">
            <br/>
            <i class="fa fa-<%= data.groups[index].icon %> fa-4x"></i>
            <br/>
            <h6 class="color-white">
              <%= data.groups[index].title %>
            </h6>
          </div>
        </a>
      </div>
      <% } %>
    </div>
  </div>
</section>


<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left xs-mb-40">
      <h2 class="color-navy-blue">Participa</h2>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <!-- <img src="<%= global.folderName %>assets/images/bundo&#45;kim&#45;S&#45;TcfjrYVKo&#45;unsplash.jpg" alt="Foto de un buzón"> -->
        <img src="<%= global.folderName %>assets/images/participa2.png" alt="Ilustracción para definir la participación ciudadana">
      </div>
      <div class="col-sm-8">
        <p class="fundpress-content-description xs-mb-20">Con el  afán de mejorar los mecanismos de participación de la ciudadanía, el Congreso de los Diputados ha habilitado un canal de participación ciudadana a través de la creación de un buzón para recoger las sugerencias y propuestas  que se quieran remitir la <a class="color-green" href="http://www.congreso.es/portal/page/portal/Congreso/Congreso/Organos/Comision?_piref73_7498063_73_1339256_1339256.next_page=/wc/detalleInformComisiones?idOrgano=390&idLegislatura=14" target="_blank">Comisión no permanente para la Reconstrucción Social y Económica</a>, constituida para hacer frente a las consecuencias del coronavirus.</p>
          <p class="fundpress-content-description xs-mb-20">Las aportaciones versarán sobre el objeto de la Comisión y podrán referirse a uno de los cuatro grupos de trabajo creados: el reforzamiento de la sanidad pública; la reactivación de la economía y la modernización del modelo productivo; el fortalecimiento de los sistemas de protección social, de los cuidados y la mejora del sistema fiscal; y la posición de España ante la Unión Europea.</p>
          <p class="fundpress-content-description xs-mb-20"><b>Las propuestas deben enviarse al correo comisionRSE@congreso.es</b>, y se destinarán al grupo de trabajo correspondiente.</p>
          <h3 class="color-green xs-post-title fundpress-post-title xs-mb-20">Reforzamos los canales de participación</h3>
          <p class="fundpress-content-description xs-mb-40">Con el objetivo de reforzar este canal, desde PW COVID-19 proponemos que nos enviéis las propuestas que hayáis enviado a este buzón del Congreso para que hagamos difusión de las propuestas a través de nuestras RRSS. Para ello, <b>podéis ponernos en copia</b> en el mail que enviéis al buzón del Congreso o reenviarnos el mail a nuestra dirección de correo <b>covid19@ciecode.es</b></p>
          <p class="fundpress-content-description xs-mb-20 text-center"><a class="xs-btn btn btn-primary" href="mailto:comisionRSE@congreso.es?cc=covid19@ciecode.es&subject=Nuestra propuesta para la Comisión de Reconstrucción Social y Económica" target="_blank">Envía tu propuesta ahora</a></p>
      </div>
    </div>
  </div>
</section>


<section class="xs-gray-bg xs-team-section fundpress-team-section xs-section-padding">
  <div class="container">
    <div class="xs-section-heading row xs-margin-0">
      <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
        <h2 class="color-navy-blue">Las caras de la Comisión</h2>
        <p>Estas son las figuras más relevantes de la Comisión para la Reconstrucción Social y Económica.</p>
      </div>
    </div>
    <div class="row">
      <% for (var teamindex=0; teamindex<data.team.length; teamindex++) { %>
      <div class="col-md-3 people-item">
        <div class="xs-box-shadow  fundpress-single-team-member">
          <div class="fundpress-item-header text-center">
            <img class="team-member-photo-alt photo-mp hide" src="<%= data.team[teamindex].photo %>">
            <img class="team-member-photo photo-mp" src="<%= data.team[teamindex].photo %>" alt="Foto de <%= data.team[teamindex].name %>">
            <div class="xs-hover-content fundpress-hover-content text-center">
              <ul class="xs-social-list fundpress-social-list xs-social-list-v2">
                <li><a href="https://tipiciudadano.es/deputies/<%= data.team[teamindex].id_deputy %>" class="color-linkedin full-round" target="_blank"><i class="fa fa-user"></i></a></li>
                <li><a href="https://tipiciudadano.es/parliamentarygroups/<%= data.team[teamindex].id_party %>" class="color-linkedin full-round" target="_blank"><i class="fa fa-group"></i></a></li>
              </ul>
            </div>
          </div>
          <!--fundpress-item-header-->
          <div class="xs-item-footer xs-content-padding bg-color-white  fundpress-team-details text-center">
            <a href="https://tipiciudadano.es/deputies/<%= data.team[teamindex].id_deputy %>" class="color-navy-blue" target="_blank" title="Accede al perfil de <%= data.team[teamindex].name %>">
              <%= data.team[teamindex].name %>
            </a>
            <p><%= data.team[teamindex].party %></p>
            <h5 class="color-green"><%= data.team[teamindex].title %></h5>
          </div>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>


<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left">
      <h2 class="color-navy-blue">FAQ</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="xs-info-card">
          <div class="xs-col-1-isotope-grid">
            <div class="xs-col-1-isotope-grid-item art">
              <div class="fundpress-grid-item-content row xs-marign-0">
                  <div class="fundpresss-ingle-faq col-md-6">
                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">Q.</span>  ¿Qué es Political Watch COVID-19? </h4>
                    <p class="clearfix"><span class="xs-firstcharacter color-green">A.</span> Es información y es análisis. Te ofrecemos información, abierta, gratuita y en tiempo real, sobre los debates que están teniendo lugar en la nueva Comisión para la Reconstrucción Social y Económica. Lo acompañamos de análisis breves, pero profundos y accesibles, sobre las propuestas más destacadas y sobre sus consecuencias sociales, económicas y ambientales.</p>
                  </div>
                  <div class="fundpresss-ingle-faq col-md-6">
                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">Q.</span>  ¿Cuál es el objetivo del proyecto?</h4>
                    <p class="clearfix"><span class="xs-firstcharacter color-green">A.</span> Queremos democratizar el acceso a la información y la comprensión de lo que se va a debatir y decidir en esta nueva Comisión. Ya seas un periodista, una organización de la sociedad civil o una persona de a pie, en este proyecto encontrarás la información en el tiempo y forma que necesitas para contribuir a un debate público informado y a una ciudadanía activa. </p>
                  </div>
                  <div class="fundpresss-ingle-faq col-md-6">
                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">Q.</span>  ¿Por qué un proyecto de monitoreo parlamentario?</h4>
                    <p class="clearfix"><span class="xs-firstcharacter color-green">A.</span> Una de las líneas de trabajo de CIECODE está centrada en promover la transparencia y la rendición de cuentas por parte de la clase política española. La nueva comisión definirá muchas de las líneas y prioridades políticas para los próximos meses y años, y por tanto es más que necesario que tanto la sociedad civil como la ciudadanía en su conjunto estén al tanto de lo que se está debatiendo al momento, para poder informarse y exigir que se rindan cuentas respecto a las políticas que afectarán de manera directa en su día a día. </p>
                  </div>
                  <div class="fundpresss-ingle-faq col-md-6">
                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">Q.</span> ¿Cuál es la tecnología que hay detrás del proyecto? </h4>
                    <p class="clearfix"><span class="xs-firstcharacter color-green">A.</span> El proyecto se basa en un software de inteligencia artificial creado por Google llamado Speech-to-text y para los análisis temáticos se ha utilizado la tecnología de etiquetado automático detrás de TIPI Ciudadano y Parlamento 2030. </p>
                  </div>
                  <div class="fundpresss-ingle-faq col-md-6">
                    <h4 class="color-navy-blue clearfix"><span class="xs-firstcharacter color-navy-blue">Q.</span>   ¿Quién está detrás del proyecto? </h4>
                    <p class="clearfix"><span class="xs-firstcharacter color-green">A.</span> El proyecto ha sido impulsado desde CIECODE con la colaboración de la Fundación PorCausa. </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
  <div class="container">
    <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left">
      <h2 class="color-navy-blue">Aparición en medios</h2>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="xs-info-card">
          <div class="row">
          <% for (var index=0; index<data.newspapers.length; index++) { %>
            <div class="col-sm-3" style="padding: 20px;">
              <a href="<%= data.newspapers[index].url %>" target="_blank">
                <img class="img-responsive" src="<%= global.folderName %>assets/images/covidwatch/newspapers/<%= data.newspapers[index].logo %>">
              </a>
            </div>
          <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<% include common/subscribe-to-newsletter %>

</main>


<% include common/footer %>

<% include common/end %>

