<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>assets/images/background/comision-covid-19.jpg">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Sesión del 7 de mayo <br/>Political Watch COVID-19</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <a href="<%= global.folderName %>political-watch" class="color-white">Political Watch /</a> <a href="<%= global.folderName %>political-watch/covid-19" class="color-white">COVID-19 /</a> <strong>7 de mayo</strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main id="covid-19" class="xs-all-content-wrapper">

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3>Political Watch COVID-19</h3>
          <p>Political Watch COVID-19 es un proyecto que facilita el acceso a toda la información generada en la Comisión para la Reconstrucción Social y Económica. Te ofrecemos a tiempo real los compromisos y propuestas que en ella se propongan y el análisis de sus principales consecuencias.</p>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  Un proyecto de: <br/> <br/> <div class="text-center"> <img src="<%= global.folderName %>assets/images/politicalwatch.png" alt="Logo de Political Watch" class="img-responsive" style="width:50%;"> </div>
                </div>
                <div class="col-sm-6">
                  En colaboración con: <br> <br> <div class="text-center"> <img src="<%= global.folderName %>assets/images/porCausa.png" alt="Logo de porCausa" class="img-responsive" style="width:50%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 text-center">
          <a href="#" class="xs-btn btn btn-primary not-active" title="No disponible aun">Resumen de la sesión</a>
          <!-- <a href="" target+"_blank" class="xs&#45;btn btn btn&#45;primary">Resumen de la sesión</a> -->
          <br>
          <br>
          <!-- <a href="#" class="xs&#45;btn btn btn&#45;primary not&#45;active" title="No disponible aun">Transcripción completa *</a> -->
          <a href="https://docs.google.com/document/d/1nxFT-tOf4t024sxBKBeE2lM1_cwie-0NqCCFIGWsZQI" target="_blank" class="xs-btn btn btn-primary">Transcripción completa *</a>
          <br>
          <br>
          <a class="color-navy-blue bold" href="<%= global.folderName %>political-watch/covid-19" class="color-white">Consulta otra sesión</a>
          <br>
          <br>
          <br>
          <small>* Esta transcripción es ofrecida a meros efectos informativos.<br/> La oficial estará disponible en <a href="http://www.congreso.es" target="_blank">Congreso.es</a>.</small>
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-square-service-section-alt xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p style="font-size: 1.5em;" class="bold">
          <i class="fa fa-quote-left"></i>&nbsp;&nbsp;&nbsp;
          La Comisión para la Reconstrucción Social y Económica post-COVID nace con un llamamiento de su presidente, Patxi López, al espíritu constructivo y con la negativa de Vox a ceñirse a las reglas de transparencia previamente pactadas entre todos los partidos.
          &nbsp;&nbsp;&nbsp;<i class="fa fa-quote-right"></i>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">Resumen visual</h2>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="xs-info-card">
            <img class="img-responsive" src="<%= global.folderName %>assets/images/covidwatch/S1_NUBE_lista.png" alt="Resumen visual de la sesión">
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">Propuestas sociales y económicas</h2>
        <p>De todo el bla, bla, bla... esto es lo más destacable de la sesión.</p>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="xs-info-card">
            <div class="alert alert-warning" role="alert">Lo debatido hoy no da para más. Esperamos mostrarte más información en otras sesiones.</div>
          </div>

          <!-- <div class="xs&#45;info&#45;card parties"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/PSOE.png" alt="Logo de PSOE"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--       <li><i class="fa fa&#45;check&#45;circle"></i> Lorem fistrum al ataquerl papaar papaar apetecan no puedor. Quietooor pecador diodenoo te voy a borrar el cerito. Se calle ustée pupita llevame al sircoo qué dise usteer ese que llega caballo blanco caballo negroorl. Ese hombree mamaar diodeno llevame al sircoo. Va usté muy cargadoo me cago en tus muelas papaar papaar qué dise usteer.</li> -->
            <!--       <li><i class="fa fa&#45;check&#45;circle"></i> Lorem fistrum al ataquerl papaar papaar apetecan no puedor. Quietooor pecador diodenoo te voy a borrar el cerito. Se calle ustée pupita llevame al sircoo qué dise usteer ese que llega caballo blanco caballo negroorl. Ese hombree mamaar diodeno llevame al sircoo. Va usté muy cargadoo me cago en tus muelas papaar papaar qué dise usteer.</li> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/pp.png" alt="Logo de PP"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--       <li><i class="fa fa&#45;check&#45;circle"></i> Lorem fistrum al ataquerl papaar papaar apetecan no puedor. Quietooor pecador diodenoo te voy a borrar el cerito. Se calle ustée pupita llevame al sircoo qué dise usteer ese que llega caballo blanco caballo negroorl. Ese hombree mamaar diodeno llevame al sircoo. Va usté muy cargadoo me cago en tus muelas papaar papaar qué dise usteer.</li> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/vox.png" alt="Logo de VOX"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/unidaspodemos.png" alt="Logo de Unidas Podemos"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/erc.png" alt="Logo de Esquerra Republicana de Catalunya"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/Cs.jpeg" alt="Logo de Ciudadanos"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/Junts.png" alt="Logo de Junts per Catalunya"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/PNV.png" alt="Logo de PNV"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/EHBILDU.png" alt="Logo de BILDU"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/MásPaís.png" alt="Logo de Más País"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/cup.png" alt="Logo de las CUP"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/CoaliciónCanaria.png" alt="Logo de Coalición Canaria"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/UPN.png" alt="Logo de UPN"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/bng.png" alt="Logo del Bloque Nacionalista Galego"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/PRC.png" alt="Logo de PRC"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
            <!-- <div class="row"> -->
            <!--   <div class="col&#45;sm&#45;1"> -->
            <!--     <img src="<%= global.folderName %>assets/images/covidwatch/parties/Teruelexiste.png" alt="Logo de Teruel Existe"> -->
            <!--   </div> -->
            <!--   <div class="col&#45;sm&#45;11"> -->
            <!--     <ul> -->
            <!--     </ul> -->
            <!--   </div> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">TIPI nos dice que...</h2>
        <p>Analizamos las temáticas más abordadas en la sesión gracias a TIPI Ciudadano.</p>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="xs-info-card">
            <div class="alert alert-warning" role="alert">Lo debatido hoy no da para más. Esperamos mostrarte más información en otras sesiones.</div>
          </div>

          <!-- <br> <br> <h5 class="xs&#45;font&#45;italic working">En breve estarán los datos...</h5> -->

          <!-- <div class="row"> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <section class="xs-about-us-promo-section xs-content-section-padding fundpress-about-us-promo-section">
    <div class="container">
      <div class="fundpress-section-heading fundpress-heading-title fundpress-heading-title-v2 content-left" style="width:100%;">
        <h2 class="color-navy-blue">Los ODS abordados</h2>
        <p>Analizamos el contenido de la sesión en clave Agenda 2030 de Desarrollo Sosteible.</p>
      </div>
      <div class="row">
        <div class="col-sm-12">

          <div class="xs-info-card">
            <div class="alert alert-warning" role="alert">Lo debatido hoy no da para más. Esperamos mostrarte más información en otras sesiones.</div>
          </div>

          <!-- <br> <br> <h5 class="xs&#45;font&#45;italic working">En breve estarán los datos...</h5> -->

          <!-- <div class="row"> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!--   <div class="col&#45;sm&#45;6"> -->
          <!--     <div class="xs&#45;info&#45;card"> -->
          <!--       <img class="img&#45;responsive" src="https://via.placeholder.com/800x300" alt="Logo de ..."> -->
          <!--     </div> -->
          <!--   </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </section>

  <% include common/subscribe-to-newsletter %>

</main>


<% include common/footer %>

<% include common/end %>


