<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<section class="xs-screen-height xs-welcome-section xs-bg fundpress-welcome-section" style="background-image: url(<%= global.folderName %>/assets/images/unsplash.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="xs-welcome-content fundpress-welcome-content-v2">
          <div class="xs-welcome-wraper">
            <h2>Bring New Ideas To Life, Anywhere</h2>
            <div class="xs-btn-wraper">
              <a href="#" class="xs-btn btn btn-outline-primary">See idea</a>
            </div>
          </div><!-- .xs-welcome-wraper .fundpress-welcome-wraper END -->
        </div><!-- .xs-welcome-content .fundpress-welcome-content END -->
      </div>
      <div class="col-lg-5">
        <div class="xs-welcome-content">
          <div class="text-center fundpress-animate xs-welcome-wraper">
            <!-- <img src="<%= global.folderName %>/assets/images/speaker_1.png" alt=""> -->
          </div><!-- .xs-welcome-wraper .fundpress-welcome-wraper END -->
        </div><!-- .xs-welcome-content .fundpress-welcome-content END -->
      </div>
    </div>
  </div>
</section><!-- End welcome section -->

<!-- version 2 caouse matters -->
<section  class="xs-section-padding fundpress-cause-matters-v2" data-scrollax-parent="true">
  <div class="container">
    <div class="fundpress-heading-title-v3 text-center wow fadeInUp" data-wow-duration="1s">
      <div class="fundpress-heading-title-content">
        <h2>Big of small your <span>cause matters</span></h2>
        <p>A man of letters. A Platonic dreamer in a dream world. A masochist with <br> an idealized ego that denies reality.</p>
      </div>
      <span class="parallax-title" data-scrollax="properties: { translateY: '-250px' }">Features</span>
    </div><!-- section heading -->
    <div class="row">
      <div class="col-md-4">
        <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.2s">
          <img src="<%= global.folderName %>/assets/images/line2.png" alt="">
          <!-- <i class="icon icon&#45;cogwheel&#45;outline xs&#45;check&#45;mark"></i> -->
          <h4>Think Tank</h4>
          <p>The advertising business is not an equal one. Our goal is to change that by highlighting female creatives globally.</p>
        </div><!-- .fundpress-icon-with-square-service-v2 END -->
      </div>
      <div class="col-md-4">
        <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.4s">
          <img src="<%= global.folderName %>/assets/images/line1.png" alt="">
          <!-- <i class="icon icon&#45;symbol xs&#45;check&#45;mark"></i> -->
          <h4>Coherencia</h4>
          <p>The advertising business is not an equal one. Our goal is to change that by highlighting female creatives globally.</p>
        </div><!-- .fundpress-icon-with-square-service-v2 END -->
      </div>
      <div class="col-md-4">
        <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.6s">
          <img src="<%= global.folderName %>/assets/images/line3.png" alt="">
          <!-- <i class="icon icon&#45;shopping&#45;cart xs&#45;check&#45;mark"></i> -->
          <h4>Desarrollo</h4>
          <p>The advertising business is not an equal one. Our goal is to change that by highlighting female creatives globally.</p>
        </div><!-- .fundpress-icon-with-square-service-v2 END -->
      </div>
    </div>
  </div>
</section><!-- End version 2 caouse matters -->


<!-- side by side product section -->
<section class="xs-side-by-side-product-v2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-6 xs-padding-0">
        <div class="fundpress-full-width-wraper-v2" style="background-image: url(<%= global.folderName %>/assets/images/background/morsecodeforever.png)">
          <div class="fundpress-product-hover-content-v2">
            <div class="fundpress-sub-title">
              <h2>Political Watch</h2>
            </div>
            <div class="fundpress-product-text-content">
              <p>We recently we discovered a major problem –  organizing accessories for these Apple devices while on the road or in our workspace was a major.</p>
            </div>
            <div class="xs-btn-wrapre">
              <a href="<%= global.folderName %>/political-watch" class="xs-btn btn xs-box-shadow btn-primary btn-lg">Accede</a>
            </div>
          </div><!-- .fundpress-product-hover-content-v2 END -->
          <div class="xs-solid-overlay xs-bg-black"></div>
        </div><!-- .fundpress-full-width-wraper-v2 END -->
      </div>
      <div class="col-md-12 col-lg-6 xs-padding-0">
        <div class="fundpress-full-width-wraper-v2" style="background-image: url(<%= global.folderName %>/assets/images/background/pattern.jpg)">
          <div class="fundpress-product-hover-content-v2">
            <div class="fundpress-sub-title">
              <h2>Investigación</h2>
            </div>
            <div class="fundpress-product-text-content">
              <p>We recently we discovered a major problem –  organizing accessories for these Apple devices while on the road or in our workspace was a major.</p>
            </div>
            <div class="xs-btn-wrapre">
              <a href="<%= global.folderName %>/research" class="xs-btn xs-box-shadow btn btn-primary btn-lg">Accede</a>
            </div>
          </div><!-- .fundpress-product-hover-content-v2 END -->
          <div class="xs-solid-overlay xs-bg-black"></div>
        </div><!-- .fundpress-full-width-wraper-v2 END -->
      </div>
    </div>
  </div>
</section><!-- End side by side product section -->


<% include common/footer %>

<% include common/end %>

