<% include common/start %>

<% include common/header %>

<!-- welcome section -->
<section class="xs-screen-height xs-welcome-section xs-bg fundpress-welcome-section" style="background-image: url(<%= global.folderName %>assets/images/background/marruecos24-high.jpg);">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="xs-welcome-content fundpress-welcome-content-v2">
          <div class="xs-welcome-wraper">
            <h2>
              <span>Más justo, </span><br/>
              <span>más inteligente</span>
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- version 2 caouse matters -->
<section  class="xs-section-padding fundpress-cause-matters-v2" data-scrollax-parent="true">
  <div class="container">
    <div class="fundpress-heading-title-v3 text-center wow fadeInUp" data-wow-duration="1s">
      <div class="fundpress-heading-title-content">
        <h2>Una ciudadanía informada para un <span>desarrollo sostenible</span></h2>
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <p>Luchamos contra la pobreza promoviendo el acceso a la información y la vigilancia política a través de Political Watch y nuestras investigaciones para el cambio.</p>
            <p>Todo nuestro trabajo, basado en tres pilares:</p>
          </div>
        </div>
      </div>
    </div><!-- section heading -->
    <div class="row">
      <div class="col-md-4">
        <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.2s">
          <img src="<%= global.folderName %>assets/images/line2.png" alt="Línea gráfica de CIECODE">
          <!-- <i class="icon icon&#45;cogwheel&#45;outline xs&#45;check&#45;mark"></i> -->
          <h4>Innovación</h4>
          <p>Desarrollamos tecnología e innovación social al servicio de la participación ciudadana.</p>
        </div><!-- .fundpress-icon-with-square-service-v2 END -->
      </div>
      <div class="col-md-4">
        <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.4s">
          <img src="<%= global.folderName %>assets/images/line1.png" alt="Línea gráfica de CIECODE">
          <!-- <i class="icon icon&#45;symbol xs&#45;check&#45;mark"></i> -->
          <h4>Coherencia</h4>
          <p>Exigimos políticas que respondan a los retos globales del desarrollo de forma eficaz.</p>
        </div><!-- .fundpress-icon-with-square-service-v2 END -->
      </div>
      <div class="col-md-4">
        <div class="fundpress-icon-with-square-service-v2 wow fadeInUp" data-wow-duration="1.6s">
          <img src="<%= global.folderName %>assets/images/line3.png" alt="Línea gráfica de CIECODE">
          <!-- <i class="icon icon&#45;shopping&#45;cart xs&#45;check&#45;mark"></i> -->
          <h4>Desarrollo</h4>
          <p>Aspiramos a un planeta más próspero, equitativo y sostenible y trabajamos para hacerlo realidad.</p>
        </div><!-- .fundpress-icon-with-square-service-v2 END -->
      </div>
    </div>
  </div>
</section><!-- End version 2 caouse matters -->


<!-- side by side product section -->
<section class="xs-side-by-side-product-v2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-lg-6 xs-padding-0">
        <div class="fundpress-full-width-wraper-v2" style="background-image: url(<%= global.folderName %>assets/images/background/ferran-feixas-736146-unsplash.jpg)">
          <div class="fundpress-product-hover-content-v2">
            <div class="fundpress-sub-title">
              <h2>Political Watch</h2>
            </div>
            <div class="fundpress-product-text-content">
              <p>Plataforma de proyectos de innovación para la monitorización política y el acceso a información.</p>
            </div>
            <div class="xs-btn-wrapre">
              <a href="<%= global.folderName %>political-watch" class="xs-btn btn xs-box-shadow btn-primary btn-lg">Accede</a>
            </div>
          </div><!-- .fundpress-product-hover-content-v2 END -->
          <div class="xs-solid-overlay xs-bg-navy-blue-light"></div>
        </div><!-- .fundpress-full-width-wraper-v2 END -->
      </div>
      <div class="col-md-12 col-lg-6 xs-padding-0">
        <div class="fundpress-full-width-wraper-v2" style="background-image: url(<%= global.folderName %>assets/images/background/chuttersnap-552548-unsplash.jpg)">
          <div class="fundpress-product-hover-content-v2">
            <div class="fundpress-sub-title">
              <h2>Investigación para el cambio</h2>
            </div>
            <div class="fundpress-product-text-content">
              <p>Analizamos el impacto de políticas públicas sobre el desarrollo sostenible y proponemos soluciones innovadoras.</p>
            </div>
            <div class="xs-btn-wrapre">
              <a href="<%= global.folderName %>investigacion" class="xs-btn xs-box-shadow btn btn-primary btn-lg">Accede</a>
            </div>
          </div><!-- .fundpress-product-hover-content-v2 END -->
          <div class="xs-solid-overlay xs-bg-navy-blue-light"></div>
        </div><!-- .fundpress-full-width-wraper-v2 END -->
      </div>
    </div>
  </div>
</section><!-- End side by side product section -->


<% include common/footer %>

<% include common/end %>

