<% include common/start %>

<% include common/header %>

<%
var item = function() {
    return data.projects.filter(function(item) {
      return item.id == meta.id;
    })[0];
  }();
%>


<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>/assets/images/background/<%= item.background %>">
  <div class="xs-solid-overlay xs-bg-black"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content xs-inner-welcome-content">
      <h2 class="color-white"><%= item.title %></h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <a href="<%= global.folderName %>/political-watch" class="color-white">Political Watch /</a> <strong><%= item.title %></strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->

<main class="xs-all-content-wrapper">
<!-- fund details -->
<section class="xs-content-section-padding xs-fund-details fundpress-fund-details">
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-lg-7">
        <div class="xs-sync-slider-wraper xs-mb-50">
          <img src="<%= global.folderName %>/assets/images/projects/<%= item.id %>/<%= item.thumbnail %>" alt="">
          <% if (item.images.length > 0) { %>
          <% for(var imageindex=0; imageindex<item.images.length; imageindex++) { %>
            <img src="<%= global.folderName %>/assets/images/projects/<%= item.id %>/<%= item.images[imageindex] %>" alt="">
            <% } %>
          <% } %>
          <!-- <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/131597102?title=0&#38;byline=0&#38;portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> -->
        </div><!-- xs-sync-slider-wraper -->
      </div>
      <div class="col-md-12 col-sm-12 col-lg-5">
        <div class="xs-sidebar-wraper">
          <div class="xs-single-sidebar xs-mb-30">
            <ul class="xs-list-with-content fundpress-simple-list-content">
              <li class="color-navy-blue bold xs-mb-20"><%= item.title %></li>
            </ul>
            <p class="color-navy-blue xs-mb-30"><%= item.abstract %></p>
          </div>

          <div class="xs-single-sidebar xs-mb-50">
            <div class="xs-spilit-container">
              <div class="xs-btn-wraper">
                <a href="<%= item.web %>" class="xs-btn green-btn xs-btn-medium" target="_blank">Accede ahora</a>
              </div>
            </div>
          </div>

          <% if (item.support.length > 0) { %>
          <div class="xs-single-sidebar">
            <div class="xs-sidebar-title fundpress-sidebar-title xs-mb-30">
              <h3 class="color-navy-blue">Colabora con este proyecto</h3>
            </div>
            <div class="xs-info-card xs-blue-bg fundpress-info-card xs-box-shadow color-white wow fadeInUp" data-wow-duration="1.8s">
              <h5>Necesitamos:</h5>
              <% for(var supportindex=0; supportindex<item.support.length; supportindex++) { %>
                <h4 class="xs-mb-20"><i class="fa fa-check"></i> <%= item.support[supportindex] %></h4>
              <% } %>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</section>

</main>



<% include common/footer %>

<% include common/end %>

