<% include common/start %>

<% include common/header %>


<!-- welcome section -->
<!--breadcumb start here-->
<section class="xs-inner-welcome-section fundpress-inner-welcome-section fundpress-inner-bg-1 parallax-window" data-parallax="scroll" data-image-src="<%= global.folderName %>/assets/images/background/chuttersnap-552548-unsplash.jpg">
  <div class="xs-solid-overlay xs-bg-navy-blue"></div>
  <div class="container">
    <div class="fundpress-inner-welcome-content">
      <h2 class="color-white">Investigación para el cambio</h2>
      <ul class="xs-breadcumb fundpress-breadcumb">
        <li><a href="<%= global.folderName %>" class="color-white">Inicio /</a> <strong>Investigación</strong></li>
      </ul>
    </div>
  </div>
</section>
<!--breadcumb end here--><!-- End welcome section -->


<main class="xs-all-content-wrapper">

<section class="xs-bg fundpress-text-with-image-side-by-side-3 xs-content-section-padding">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="xs-box-shadow-2 xs-background-popup-wraper">
          <img src="<%= global.folderName %>/assets/images/investigacion-transformacion.jpg" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="fundpress-side-by-side-image-with-text fundpress-side-by-side-image-with-text-v2">
          <div class="xs-inner-title fundpress-inner-title">
            <h2 class="color-navy-blue xs-mb-20">Investigar, transformar</h2>
          </div>
          <p class="xs-content-description fundpress-content-description xs-mb-20">Nuestras investigaciones para el cambio social se caracterizan por combinar el rigor analítico con un claro enfoque de innovación aplicado a la lucha contra la pobreza y la promoción de un desarrollo sostenible.</p>

          <h3 class="color-green xs-post-title fundpress-post-title xs-mb-20">Investigamos para el cambio social</h3>

          <p class="xs-content-description fundpress-content-description xs-mb-30">Mantenemos varias líneas de investigación sobre la coherencia de políticas para el desarrollo sostenible, las políticas comerciales, la internacionalización de empresas, la inversión extranjera y los derechos humanos, las políticas migratorias, la participación ciudadana, el Congreso de los Diputados y la Agenda 2030 con sus 17 Objetivos de Desarrollo Sostenible.</p>
        </div>
      </div>
    </div>
  </div>
</section>	<!-- about us side by side image version 1 end -->

<% if (data.reports.items.length > 0) { %>
<!-- cause matters -->
<section id="cause-matters" class="xs-gray-bg waypoint-tigger xs-section-padding xs-section-padding-bottom">
  <div class="container">
    <div class="xs-section-heading row xs-margin-0">
      <div class="fundpress-heading-title xs-padding-0 col-md-9 col-xl-9">
        <h2 class="color-navy-blue">Todos los informes, libres para ti</h2>
        <span class="xs-separetor dashed-separetor fundpress-separetor"></span>
      </div><!-- .fundpress-heading-title .xs-col-9 END -->
    </div><!-- .xs-section-heading .fundpress-section-heading .xs-spilit-container END -->

    <% if (data.reports.tags.length > 0) { %>
    <div class="xs-tab-wraper fundpress-tab-wraper">
      <div class="fundpress-tab-nav xs-tab-nav">
        <ul class="nav nav-tabs" role="tablist">
          <% for(var tagindex=0; tagindex<data.reports.tags.length; tagindex++) { %>
          <li class="nav-item">
            <a class="nav-link <% if (tagindex == 0) { %> active <% } %>" href="#<%= data.reports.tags[tagindex] %>" role="tab" data-toggle="tab"><%= data.reports.tags[tagindex] %></a>
          </li>
          <% } %>
        </ul>


      </div><!-- .xs-isotope-nav .fundpress-isotope-nav END -->

      <div class="tab-content">

        <%
        var getResearchItemByTag = function(items, tag) {
          return items.filter(function(item) {
            return item.tags.indexOf(tag) != -1;
           }).sort(function(a,b) { return a.date > b.date;  });
        }
        %>

        <% for(var tagindex=0; tagindex<data.reports.tags.length; tagindex++) { %>
          <div role="tabpanel" class="tab-pane fade in <% if (tagindex == 0) { %> active <% } %> show" id="<%= data.reports.tags[tagindex] %>">
          <div class="row">
          <% var items = getResearchItemByTag(data.reports.items, data.reports.tags[tagindex]); %>
          <% for(var itemindex=0; itemindex<items.length; itemindex++) { %>
            <div class="col-md-3">
              <div class="fundpress-grid-item-content">
                <div class="fundpress-item-header xs-mb-30">
                  <img src="<%= global.folderName %>/assets/images/reports/<%= items[itemindex].cover %>" alt="">
                </div>
                <div class="fundpress-item-content">
                  <ul class="xs-simple-tag fundpress-simple-tag">
                    <% for(var tagindexalt=0; tagindexalt<items[itemindex].tags.length; tagindexalt++) { %>
                    <li class="color-blue"><%= items[itemindex].tags[tagindexalt] %></li>
                    <% } %>
                  </ul>
                  <a href="<%= items[itemindex].id %>" class="d-block color-navy-blue fundpress-post-title"><%= items[itemindex].link_title %></a>
                  <a href="<%= items[itemindex].id %>" class="color-green bold">Ver este informe <i class="fa fa-arrow-circle-right"></i></a>
                  <!-- <ul class="xs&#45;list&#45;with&#45;content fundpress&#45;list&#45;item&#45;content"> -->
                  <!--   <li>$15,280<span>Pledged</span></li> -->
                  <!--   <li><span class="number&#45;percentage&#45;count">65%</span><span>Funded</span></li> -->
                  <!--   <li>50<span>Days to go</span></li> -->
                  <!-- </ul> -->
                </div>
              </div>
            </div>
          <% } %>
          </div>
          </div>

        <% } %>

      </div>
    </div>
    <% } %>
  </div>
</section>    <!-- End cause matters -->
<% } %>

</main>


<% include common/footer %>

<% include common/end %>

